<nav class="white">
  <div class="nav-wrapper container">
    <span href="#" class="brand-logo light-green-text">CRC</span>
  </div>
</nav>

<div class="container">

  <div class="section">

    <div class="row" *ngIf="data.length > 0; else noData">
      <div class="col s12 m6 l4" *ngFor="let report of data">
        <app-report [report]="report"></app-report>
      </div>
    </div>
    <ng-template #noData>
      <span *ngIf="!loading">No hay reportes registrados</span>
    </ng-template>

  </div>


</div>